a:hover {
		text-decoration: none;
	}
	.courseMenuDiv a {
		text-decoration:none;
		color: #666;
	}

	.courseMenuDiv a:active {
		color: #FFF;
	}

	.courseMenuDiv a:visited {
		color: #666;
	}

	.courseMenuDiv a:hover {
		border-radius: 15px;
		background: #08bf91;
		color: #FFF;
	}

	.courseMenuDiv {
		color: #666;
		border-radius: 0px;
	}

	.courseMenuDiv .courseMenu{
		margin-left: 10px;
	}



	.courseMenuDiv a{
		list-style:none; /* 将默认的列表符号去掉 */
		float: left; /* 往左浮动 */
		display: inline-block;
		margin: -5px 15px 10px 0;
		padding: 4px 10px;
		font-size: 15px;
		cursor: pointer;
	}

	/*任务开始*/
	.courseMenu {
		height: 40px; margin-top: 10px;
	}

	.courseMenu .courseLabel {
		float: left; margin-right: 10px; margin-left: 20px;
	}

	.taskMenu {
		height: 30px; margin-left: 10px; overflow: hidden;padding-top: 5px;
	}

	.taskMenu .taskLabel {
		float: left; margin-right: 10px; margin-left: 20px;
	}

	
	.showDiv {
		margin: 30px auto; width: 1000px;margin-bottom: 30px;
	}

	.showDiv .taskDiv {
		width: 220px; height: 267px;position: relative; top: 0px; left: 0px; border:2px #66666626 solid; float: left; margin-right: 20px; margin-bottom: 30px;
	}

	.taskDescribe {
		position: absolute; bottom: 0px; width: 100%; height: 80px; background: #FFF;
	}
	.taskNameDiv {
		width: 100%; height: 40px;
	}
	.taskNameDiv p {
		font-weight: bold; text-align: center;padding-top:5px;
	}


	.footDiv {
		width: 100%; height: 40px; position: relative; top: 0px; left: 0px;
	}
	.footDiv .leftDiv {
		width: 80px; height: 100%; position: absolute; top: 0px; left: 0px;
	}
	.footDiv .rightDiv {
		width: 80px; height: 100%; position: absolute; top: 0px; right: 5px;
	}
	.footDiv .rightDiv p {
		border-radius: 5px; background: #ffae0f; color: #FFF; padding: 2px;   text-align: center;
	}
	/*任务结束*/