/*添加实验指导开始*/
.guideAddDiv {
	width: 500px; 
	margin-top: 20px;
}

.guideAddDiv .add-list {
	margin-left: 20px;
	margin-bottom: 10px;
}

.guideAddDiv select{
	width: 500px;
}

.guideAddDiv .submitDiv {
	width:100%; 
	height: 30px; 
	line-height: 30px;
	margin-bottom: 20px;
}

.guideAddDiv label {
	font-size: 16px;
}

.guideAddDiv .test-text {
	width: 500px;
}
/*添加实验指导结束*/