<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院实验报告在线撰写系统</title>
    <link rel="shortcut icon" href="__IMG__/school.ico" />
    
    <link rel="stylesheet" href="__FONTAWESOME__/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__FONTAWESOME__/css/all.css" />
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css">

    <script type="text/javascript" src="__JS__/jquery3.2.1.min.js"></script>
    <script type="text/javascript" src="__JS__/index/public.js"></script>
    <script type="text/javascript" src="__JS__/common/checkBox.js"></script>
    <script type="text/javascript" src="__JS__/Echarts/echarts.min.js"></script>

    <link rel="stylesheet" href="__CSS__/index/index.css" />
    <link rel="stylesheet" href="__CSS__/common/common.css" />
    <link rel="stylesheet" href="__CSS__/common/footer.css" />
    <link rel="stylesheet" href="__CSS__/common/menu.css">
    <link rel="stylesheet" href="__CSS__/common/detail.css">
    <link rel="stylesheet" href="__CSS__/teacher/course.css" />
    <link rel="stylesheet" href="__CSS__/teacher/display.css" />
</head>

<style type="text/css">
.title-right {
	width: 100px; float: right; margin-right: 30px;margin-top: 20px;
}

.selectDiv {
	height: 80px; position: relative; top: 0px; left: 0px;
}

.selectDiv .courseSelect {
	position: absolute; left: 100px; top: 30px;
}

.selectDiv .taskSelect {
	position: absolute; left: 350px; top: 30px;
}

.selectDiv .submit {
	position: absolute; left: 650px; top: 30px;
}


</style>
<body>
    <!-- 头部开始-->
    {include file="../app/common/view/html/header.html"}
    <!-- 头部结束-->

    <!-- 左边菜单开始-->
    <div class="container" style="margin-top:20px; min-height: 500px;">

        <div class="leftsidebar_box" id="leftMenu">
            <dl class="system_log">
                <dt>
                    <i class="fas fa-home a"></i>
                    <a href="/teacher/index/index">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                </dt>
            </dl>
            <!--实验任务开始-->
            {volist name="menus" id="vo"}
            {if isset($vo['children'])}
            <dl class="system_log" id="menu1">
                <dt>
                    {$vo.html}
                    <span class="menu-text">{$vo.menuName}</span>
                    <i class="fas fa-angle-down   b"></i>
                </dt>
                
                {volist name="$vo['children']"  id="no"}   
                <dd>
                    <img class="coin11" src="__IMG__/coin111.png" />
                    <img class="coin22" src="__IMG__/coin222.png" />
                    <a class="cks" href="{$no.href}">{$no.menuName}</a>
                    <img class="icon5" src="__IMG__/coin21.png" />
                </dd>
                {/volist}
                
            </dl>
            {/if}
            {/volist}
        </div>
    </div>

    <!-- 左边菜单结束-->

	<!--课程列表开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>学生成绩分布</h2>
				
				<div class="title-right">
					<select onchange="window.location=this.value">
						<option value="-1">--其他操作--</option>
						<option>同步数据</option>
					</select>
				</div>
			</div>
			<div class="selectDiv">
				<form action="/teacher/score/scoreShow" method="post">
					<!-- <select class="courseSelect" name="courseNo" id="course">
						<option value="-1">--请选择实验课程--</option>
						{volist name="courseList" id="course"}
						<option value="{$course.courseNo}">{$course.courseName}</option>
						{/volist}
					</select> -->
					<div id="taskDiv">
					<select class="taskSelect" name="taskNo" id="task">
						<option value="-1">--请选择实验任务--</option>
						{volist name="taskList" id="task"}
						<option value="{$task.taskNo}">{$task.taskName}</option>
						{/volist}
					</select>
					</div>
					<input type="submit" name="submit" value="确定" class="submit">
				</form>
			</div>

			<div style="width: 100%; height: 600px; ">
				<div style="width: 600px; height: 500px; margin:0 auto; " id="chart"></div>
			</div>
			 
		</div>
	</div>
	<!--课程列表结束-->

    <!-- 清除浮动 -->
    <div style="clear: both;"></div>

    <!-- 底部开始-->
    {include file="../app/common/view/html/footer.html"}
    <!-- 底部结束-->

</body>
</html>



<script type="text/javascript">

        /*基于准备好的dom，初始化echarts实例*/
        var myChart = echarts.init(document.getElementById('chart'));

        /*指定图表的配置和数据*/
        var option = {
            title:{    //主标题
                text:'学生成绩分布图',
                textStyle:{    //标题样式
                    color:'red',
                    fontWeight:'bold'
                },
                padding:[5,10,5,10],    //标题内边距，默认5
                margin:[5,5,5,5],
                itemGap:5,    //主副标题纵向间隔，默认10
                left:'left',    //具体的像素值，百分比，
                backgroundColor:'#ccc',    //标题背景颜色，默认透明，支持RGB,十六进制数
                borderWidth:'3',    //边框
                borderColor:'rgb(98,52,51)',    //边框颜色
                //图形阴影的模糊大小，下面四个配合使用
                shadowBlur:'10',
                shadowColor:'rgba(0,0,0,0.5)',
                shadowOffsetX:'10',
                shadowOffsetY:'5'
            },
            tooltip:{},    //提示框
            legend:{    //图例组件，点击图例控制哪些不显示
                data:['分数'],
            },
        
            xAxis:{
                type:'category',    //坐标轴类型 类目(默认)，时间，数值
                // data:["衬衫","羊毛衫","手套","裤子","高跟鞋","袜子"],
                //数据可以从数据库提取
                data:["A", "B", "C", "D", "E"],
                
                name:'成绩',        //坐标轴名称
                nameTextStyle:{        //坐标轴名称的文字样式
                    color:'green',
                },
                nameRotate:'10',    //坐标轴名字旋转角度
                //inverse:true,        //反向坐标轴
                boundaryGap:true,    //坐标轴两边留白策略
            
                axisTick:{
                    alignWithLabel:true,    //刻度线和标签对其
                    inside:false,    //刻度是否朝内，默认朝外
                },
                position:'bottom',    //x轴的位置
                
            },
            yAxis:{},

            series:[{
                name:'人数',
                type:'bar',
                // data:[5,20,36,10,10,20]
                //数据可以从数据库提取
                data:[{$count[0]},{$count[1]},{$count[2]},{$count[3]},{$count[4]}]
            }]
        };

        // 使用刚指定的配置项和数据显示图表
        myChart.setOption(option);
</script>


<!-- <script type="text/javascript">
	
	$(document).ready(function(){
	  $("#course").change(function(){
	  	var courseNo = $(this).val();
	  	alert(courseNo);
	  	console.log(courseNo);

	    

	    $("#task").html(html);
	  });
	});
</script> -->

