@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
body{
	overflow-x:hidden; 
	background:#f1f1f1;
}
#hides{display: none;}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

input::-webkit-input-placeholder { 
	color: #999; 
	-webkit-transition: color.5s; 
} 
input:focus::-webkit-input-placeholder { 
	color: white; 
	-webkit-transition: color.5s; 
}

/*head.css*/
/*页面整形CSS   请勿删除和覆盖   hy*/
#bg {
	width: 100%;
	overflow-x: hidden;
}

.head {
	width: 100%;
	height: 82px;
	color: white;
	background-color: #19a97b;
}

.head .headL {
	width: 440px;
	height: 100%;
	text-align: center;
	float: left;
	display: inline-block;
}

.head .headL img.headLogo {
	padding-top: 5px;
}

.head .headR {
	margin-top: 10px;
    width: 470px;
	height: 100%;
	display: inline-block;
	float: right;
	text-align: right;
	margin-right: 120px;
}

.head .headR .p1 {
	padding-top: 30px;
	font-size: 18px;
	color: white;
	display: inline-block;
	cursor: pointer;
}
.head_op a{
	color: white;
}
.head_op a:hover{
	color: #eee;
}

.head .headR .p2 {
	
}

.head .headR .p2 a {
	font-size: 14px;
	padding-top: 12px;
	display: inline-block;
	color: white;
	cursor: pointer;
}
/*head.html  弹出框关闭*/
.closeOut {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.39);
	position: fixed;
	top: 0px;
	display: none;
}

.closeOut .coDiv {
	width: 20%;
	margin: auto;
	background-color: #fff;
	position: relative;
	top: 30%;
	text-align: center;
}

.closeOut .coDiv .p1 {
	position: relative;
	top: 5px;
	left: 45%;
}

.closeOut .coDiv .p1 span {
	width: 30px;
	height: 30px;
	display: inline-block;
	color: #fff;
	background-color: #3695cc;
	border-radius: 15px;
	line-height: 30px;
	font-size: 20px;
	cursor: pointer;
}

.closeOut .coDiv .p2 {
	font-size: 18px;
	margin-top: 20px;
}

.closeOut .coDiv .p3 {
	margin-top: 20px;
}

.closeOut .coDiv .p3 .ok {
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #3695cc;
	line-height: 40px;
	margin-left: 25px;
	margin-right: 25px;
	color: #333;
	font-size: 16px;
	margin-bottom: 65px;
}

.closeOut .coDiv .p3 .no {
	background-color: #3695cc;
	color: #fff;
}

/*******left页面css*******/
.container {
	width: 100%;
	overflow-x: hidden;
	float: left;
	width: 220px;
	height: 100%;
	margin: auto;
	/*position: absolute;*/
}

.leftsidebar_box {
	width: 220px;
	height: 100%;
	background-color: #f2f2f2;
}

.leftsidebar_box dt {
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	cursor: pointer;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	padding-left: 40px;
}

.leftsidebar_box dd {
	display: none;
	position: relative;
	background-color: white;
	padding-left: 65px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

.leftsidebar_box dd a {
	color: #333;
	line-height: 42px;
	width: 100%;
	/*height: 100%;*/
	display: inline-block;
	cursor: pointer;
}

.leftsidebar_box dt img.icon1 {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}

.leftsidebar_box dt img.icon2 {
	position: absolute;
	top: 10px;
	left: 10px;
}

.leftsidebar_box dt img.icon3 {
	display: none;
	position: absolute;
	top: 20px;
	right: 12px;
}

.leftsidebar_box dt img.icon4 {
	position: absolute;
	top: 20px;
	right: 12px;
}

.leftsidebar_box dd img.icon5 {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}

.leftsidebar_box dd img.coin11 {
	display: none;
	position: absolute;
	top: 0px;
	left: 40px;
}

.leftsidebar_box dd img.coin22 {
	position: absolute;
	top: 0px;
	left: 40px;
}

.leftsidebar_box dl dd:last-child {
	padding-bottom: 10px;
}

.leftsidebar_box .line {
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	cursor: pointer;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	padding-left: 40px
}

.leftsidebar_box .line img {
	position: absolute;
	top: 10px;
	left: 10px;
}

.leftsidebar_box .menu_chioce1 {
	color: #106ea9;
}

.leftsidebar_box .menu_chioce2 {
	color: #106ea9;
}
/*left.css end*/

/*搜索框样式*/
.searchform{
	display: inline-block;
	margin-left: 300px;
	border: 1px solid #888;
}
#MainForm form .search{
	position: relative;
	width: 190px;
    height: 27px;
    /*border: 1px solid #888;*/
    outline: none;
    border: none;
    text-indent: 0.2em;
    font-size: 12px;
}
#MainForm form .search_button{
	position: absolute;
    margin-left: 189px;
    margin-top: -28px;
    height: 29px;
    background: #19a97b;
    width: 50px;
    color: white;
    outline: none;
    border: none;
}
.delBtn{
    border: none;
    outline: none;
    padding: 4px 6px;
    margin-right: 10px;
    background: transparent;
    color: #999;
}
.newdelBtn{
	color: #555;
	padding: 4px 6px;
	margin-right: 10px;
    border: none;
    outline: none;
    background: transparent;
}
.newdelBtn:hover{
	cursor: pointer;
	color: #19a97b;
	text-decoration: underline;
}
