.ButtonDiv {
	width:100px; 
	height: 30px; 
	margin-left: 20px; 
	margin-top: 10px;
}

.Button {
	width:100px; 
	height: 30px;
	background: #19a97b; 
	color: #FFF;
}

a {
	text-decoration: none;
}