.ButtonDiv {
	width:100px; 
	height: 30px; 
	margin-left: 20px; 
	margin-top: 10px;
}

.Button {
	width:100px; 
	height: 30px;
	background: #19a97b; 
	color: #FFF;
}

a {
	text-decoration: none;
}


/*筛选开始*/
.filterDiv {
	width: 100px; 
	height: 100px; 
	border:1px solid #F0F0F0;
	border-radius: 5px; 
	position: absolute; 
	left:40px; 
	top:50px; 
	background: #FFF; 
	display: none;
	text-align: left;
}

.filterDiv .termFilterRadio {
	width: 100%; 
	height: 30px; 
	margin-left: 10px;
}

.filterDiv .submit {
	float: left; 
	margin-left: 5px; 
	border:0; 
	background: #FFF; 
	color: #00C1DE;
}

.filterDiv .reset {
	float: right; 
	margin-right: 5px; 
	border:0; 
	background: #FFF; 
	color: #00C1DE;
}
/*筛选结束*/