/*文件列表框*/
.panel-scp{font-family: 新宋体;font-size: 12px; background-color: #FFFFFF; display:none;width:150px;height:50px;}
.panel-scp img{ float:left; border:0;}
.panel-scp span{ float:left;}
.panel-setup {padding: 10px;}