<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院实验报告在线撰写系统</title>
    <link rel="shortcut icon" href="__IMG__/school.ico" />

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="__FONTAWESOME__/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__FONTAWESOME__/css/all.css" />
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css">

    <script type="text/javascript" src="__JS__/jquery3.2.1.min.js"></script>
    <script type="text/javascript" src="__JS__/index/public.js"></script>
    <script type="text/javascript" src="__JS__/common/checkBox.js"></script>
    <script type="text/javascript" src="__JS__/admin/roleAdd.js"></script>

    <link rel="stylesheet" href="__CSS__/index/index.css" />
    <link rel="stylesheet" href="__CSS__/common/common.css" />
    <link rel="stylesheet" href="__CSS__/common/footer.css" />
    <link rel="stylesheet" href="__CSS__/common/menu.css">
    <link rel="stylesheet" href="__CSS__/common/detail.css">
    <link rel="stylesheet" href="__CSS__/common/display.css">


</head>
<body>
    <!-- 头部开始-->
    {include file="../app/common/view/html/header.html"}
    <!-- 头部结束-->

    <!-- 左边菜单开始-->
    {include file="../app/admin/view/common/menu.html"}
    <!-- 左边菜单结束-->

	<!--课程列表开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>角色列表</h2>
				
<!-- 				<div style="width: 100px; float: right; margin-right: 50px;">
					<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
					<i class="fas fa-plus"></i>&nbsp;添加系统角色
					</button>
				</div> -->
			</div>
			<div>
				<table>
					<tr>
						<th style="width: 50px; ">角色号</th>
						<th style="width: 100px; ">角色名称</th>
						<th style="width: 200px; ">角色描述</th>
						<th style="width: 100px; ">权限号</th>
						<th style="width: 50px; ">操作</th>
					</tr>
					{volist name="roleList" id="vo"}
					<tr>
						<td>{$vo.roleNo}</td>
						<td>{$vo.roleName}</td>
						<td>{$vo.roleDescribe}</td>
						<td>{$vo.permission}</td>
						<td><a href="/admin/role/roleSet?roleNo={$vo.roleNo}&account={$account}" style="color: #FFF;" class="btn btn-primary btn-xs">选择</a></td>
					</tr>
					{/volist}
				</table>
			</div>
		</div>
	</div>
	<!--课程列表结束-->

    <!-- 清除浮动 -->
    <div style="clear: both;"></div>

    <!-- 底部开始-->
    {include file="../app/common/view/html/footer.html"}
    <!-- 底部结束-->

    <!-- 模态框（Modal） -->
	<div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width:400px;margin:0 auto;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						请在下面填写系统角色信息
					</h4>
				</div>
				<form action="/admin/role/roleAdd" method="post" onsubmit="return checkSubmit();">
				<div class="modal-body">
					<div>
					    角色名称：
					    <input type="text" id="roleName" name="roleName" style="width: 100%; margin-top: 10px; margin-bottom: 10px; border-radius: 5px;">
					</div>
					<div>
						权限号：
						<input type="text" id="permission" name="permission" style="width: 100%; margin-top: 10px; margin-bottom: 10px; border-radius: 5px; ">
					</div>
					<div>
						角色基本类型
						<select style="width: 100%; margin-top: 10px; margin-bottom: 10px; border-radius: 5px; ">
							<option>管理员</option>
							<option>教师</option>
							<option>学生</option>
						</select>
					</div>
					<div>
						角色描述：
						<textarea id="roleDescribe" name="roleDescribe" style="width: 100%; margin-top: 10px; margin-bottom: 10px; height: 70px; border-radius: 5px;" value="">	
						</textarea>
					</div>
					<div>
						选择角色权限：
						<div style="width: 100%; margin-top: 10px; margin-bottom: 10px;text-align: center;" class="btn-group-xs" id="functions" style="height: auto;">
							{volist name="functionsList" id="function"}
							<a class="btn btn-primary" style="float: left; border: 1px solid #000; " onclick="$(this).toggleClass('btn-success');" value="{$function.functionNo}">{$function.functionName}</a>
							{/volist}
						</div>
						<input type="text" name="functions" value="" id="functionNos" style="display: none;">
					</div>
				</div>
				<div class="modal-footer">
					<input style="margin-top: 10px;" type="submit" name="" class="btn btn-success" value="提交更改">
				</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</body>
</html>
