<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>计算机学院实验报告在线撰写系统</title>
	<link rel="shortcut icon" href="__IMG__/school.ico" />

	<link rel="stylesheet" href="__FONTAWESOME__/css/font-awesome.min.css" />
	<link rel="stylesheet" href="__FONTAWESOME__/css/all.css" />
	<link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css">

	<script type="text/javascript" src="__JS__/jquery3.2.1.min.js"></script>
	<script type="text/javascript" src="__JS__/index/public.js"></script>
	<script type="text/javascript" src="__JS__/common/checkBox.js"></script>

	<link rel="stylesheet" href="__CSS__/index/index.css" />
	<link rel="stylesheet" href="__CSS__/common/common.css" />
	<link rel="stylesheet" href="__CSS__/common/footer.css" />
	<link rel="stylesheet" href="__CSS__/common/menu.css">
	<link rel="stylesheet" href="__CSS__/common/detail.css">
	<link rel="stylesheet" href="__CSS__/teacher/course.css" />
	<link rel="stylesheet" href="__CSS__/teacher/display.css" />
	<link rel="stylesheet" href="__CSS__/teacher/courseMenu.css">
</head>

<body>
	<!-- 头部开始-->
	{include file="../app/common/view/html/header.html"}
	<!-- 头部结束-->

	<!-- 左边菜单开始-->
	<div class="container" style="margin-top:20px; min-height: 500px;">

		<div class="leftsidebar_box" id="leftMenu">
			<dl class="system_log">
				<dt>
					<i class="fas fa-home a"></i>
					<a href="/teacher/index/index">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
				</dt>
			</dl>
			<!--实验任务开始-->
			{volist name="menus" id="vo"}
			{if isset($vo['children'])}
			<dl class="system_log" id="menu1">
				<dt>
					{$vo.html}
					<span class="menu-text">{$vo.menuName}</span>
					<i class="fas fa-angle-down   b"></i>
				</dt>
				
				{volist name="$vo['children']"  id="no"}   
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a class="cks" href="{$no.href}">{$no.menuName}</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
				{/volist}
				
			</dl>
			{/if}
			{/volist}
		</div>
	</div>

	<!-- 左边菜单结束-->

	<!--课程列表开始-->

	<div id="MainForm"
>
		<div class="form_boxA">
			<div class="a courseMenuDiv">
				<div id="courseMenu" class="courseMenu">
					<label class="courseLabel">实验课程：</label>
					<a href="/teacher/course/courseMenu">全部</a>
					{volist name="courseList" id="course"}
					<a href="/teacher/course/showTask?courseNo={$course.courseNo}">{$course.courseName}</a>
					{/volist}
				</div>
				<div id="taskMenu" class="taskMenu">
					<label class="taskLabel">实验任务：</label>
					<a href="/teacher/course/courseMenu">全部</a>
					{volist name="taskList" id="task"}
					<a href="/teacher/task/detailPage?taskNo={$task.taskNo}">{$task.taskName}</a>
					{/volist}
					
				</div>
			</div>
			
		</div>
		<div style="">
			<div class="showDiv">
				{volist name="taskList" id="task"}
				<div class="taskDiv">
					<a href="/teacher/task/detailPage?taskNo={$task.taskNo}" style="overflow: hidden;">
						<img src="{$task.taskImg}" style="width: 100%; overflow: hidden; ">
					</a>
					<div class="taskDescribe">
						<div class="taskNameDiv" id="taskNameDiv">
							<p>{$task.taskName}</p>
							<!-- <div style="text-align:center; overflow: hidden; display: none;" class="taskDescribe">
								{$task.taskDescribe}
							</div> -->
						</div>
						<div class="footDiv">
							<div class="leftDiv">
								<a href="/teacher/course/studentList?courseNo={$task.courseNo}" style='margin-left: 5px;'>
									<i class="fa fa-user-graduate" title="查看学生" style="padding: 6px;"></i>
								</a>
							</div>
							<div class="rightDiv">
								<a href="/teacher/guide/guideShow?guideNo={$task.guideNo}" target="_blant">
									<p>实验指导</p>
								</i>
								</a>
							</div>
						</div>
					</div>
				</div>
				{/volist}
			</div>
		</div>
	</div>
</div>
<!--课程列表结束-->

<!-- 清除浮动 -->
<div style="clear: both;"></div>

<!-- 底部开始-->
{include file="../app/common/view/html/footer.html"}
<!-- 底部结束-->

</body>
</html>

<!-- 筛选框开始-->
<script type="text/javascript">
	
	$(document).ready(function(){
		$("#termFilter").click(function(){
			$("#termFilterDiv").slideToggle();
		});

		$("#operateSelect").change(function() {
			var value = $("#operateSelect").val();

			if (value == 2) {
				$(window).attr('location','/teacher/excel/courseExcel');
			}
			
		});

		// $(".taskNameDiv").mouseenter(function () {
		//     $(".taskNameDiv").slideUp();
		// });
		// $(".taskNameDiv").mouseover(function () {
		//     $(".taskNameDiv").slideDown(); 
		// });
	});
</script>
<!-- 筛选框结束 -->

<script type="text/javascript">
	function del(){
		return window.confirm("你确认要删除该实验课程吗？");
	}
	function checkdel(){
		return window.confirm("你确认要删除选中的实验课程吗？");
	}

</script>