/*添加实验指导开始*/
.reportAddDiv {
	width: 500px; 
	margin-top: 20px;
}

.reportAddDiv .add-list {
	margin-left: 20px;
	margin-bottom: 10px;
}

.reportAddDiv select{
	width: 500px;
}

.reportAddDiv .submitDiv {
	width:100%; 
	height: 30px; 
	line-height: 30px;
	margin-bottom: 20px;
}

.reportAddDiv label {
	font-size: 16px;
	margin-bottom: 5px;
}

.reportAddDiv .test-text {
	width: 500px;
}
/*添加实验指导结束*/