.title-right {
	width: 100px; float: right; margin-right: 30px;margin-top: 20px;
}

.selectDiv {
	height: 80px; position: relative; top: 0px; left: 0px;
}

.selectDiv .courseSelect {
	position: absolute; left: 100px; top: 30px;
}

.selectDiv .taskSelect {
	position: absolute; left: 350px; top: 30px;
}

.selectDiv .submit {
	position: absolute; left: 650px; top: 30px;
}