<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院实验报告在线撰写系统</title>
    <link rel="shortcut icon" href="__IMG__/school.ico" />
    
    <link rel="stylesheet" href="__FONTAWESOME__/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__FONTAWESOME__/css/all.css" />
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css">

    <script type="text/javascript" src="__JS__/jquery3.2.1.min.js"></script>
    <script type="text/javascript" src="__JS__/index/public.js"></script>

    <link rel="stylesheet" href="__CSS__/index/index.css" />
    <link rel="stylesheet" href="__CSS__/common/common.css" />
    <link rel="stylesheet" href="__CSS__/common/footer.css" />
    <link rel="stylesheet" href="__CSS__/common/menu.css">
    <link rel="stylesheet" href="__CSS__/common/detail.css">
    <link rel="stylesheet" href="__CSS__/teacher/task.css" />
    <link rel="stylesheet" href="__CSS__/teacher/display.css" />
    <link rel="stylesheet" href="__CSS__/teacher/add.css" />
</head>
<body>
    <!-- 头部开始-->
    {include file="../app/common/view/html/header.html"}
    <!-- 头部结束-->

    <!-- 左边菜单开始-->
    {include file="../app/teacher/view/common/menu.html"}
    <!-- 左边菜单结束-->

	<!--添加用户开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>添加新实验任务</h2>
			</div>
			<form action="/teacher/task/taskAdd" method="post" enctype="multipart/form-data" class="add_form" onsubmit="return checkAddTask()">
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>任务名称：</label>
					<input type="text" name="taskName" placeholder="输入实验任务名称" class="add_input" onfocus="Name()" onblur="checkName()"/>
					<span class="tip" id="tip-name">请输入实验任务名称</span>
				</div>

				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>所属课程：</label>
					<select name="courseNo" class="add_input">
						<option>--请选择--</option>
						{volist name="courseList" id="vo"}
						<option value="{$vo.courseNo}">{$vo.courseName}</option>
						{/volist}
					</select>
				</div>

				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>开始时间：</label>
					<input type="datetime-local" name="startTime" class="add_input" onfocus="openTime()" onblur="checkOpenTime()"/>
					<span class="tip" id="tip-name">请选择开始时间</span>
				</div>

				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>截止时间：</label>
					<input type="datetime-local" name="endTime" class="add_input" onfocus="closeTime()" onblur="checkCloseTime()"/>
					<span class="tip" id="tip-name">请选择截止时间</span>
				</div>

				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>任务描述：</label>
					<textarea name="taskDescribe" class="add_textarea"></textarea>
					<span class="tip" id="tip-name">请选择截止时间</span>
				</div>
				
				<input type="submit" value="提交" class="add_submit" />
			</form>
		</div>
	</div>
	<!--添加用户结束-->

    <!-- 清除浮动 -->
    <div style="clear: both;"></div>

    <!-- 底部开始-->
    {include file="../app/common/view/html/footer.html"}
    <!-- 底部结束-->

</body>
</html>

<!-- 筛选框开始-->
<script type="text/javascript">
	
	$(document).ready(function(){
  		$("#publishedFilter").click(function(){
  			$("#publishedFilterDiv").slideToggle();
		});
	});
</script>
<!-- 筛选框结束 -->
