<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院实验报告在线撰写系统</title>
    <link rel="shortcut icon" href="__IMG__/school.ico" />
    
    <link rel="stylesheet" href="__FONTAWESOME__/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__FONTAWESOME__/css/all.css" />
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css">

    <script type="text/javascript" src="__JS__/jquery3.2.1.min.js"></script>
    <script type="text/javascript" src="__JS__/index/public.js"></script>
    <script type="text/javascript" src="__JS__/teacher/taskAdd.js"></script>

    <link rel="stylesheet" href="__CSS__/index/index.css" />
    <link rel="stylesheet" href="__CSS__/common/common.css" />
    <link rel="stylesheet" href="__CSS__/common/buttons.css" />
    <link rel="stylesheet" href="__CSS__/common/footer.css" />
    <link rel="stylesheet" href="__CSS__/common/menu.css">
    <link rel="stylesheet" href="__CSS__/common/detail.css">
    <link rel="stylesheet" href="__CSS__/teacher/task.css" />
    <link rel="stylesheet" href="__CSS__/teacher/display.css" />
    <link rel="stylesheet" href="__CSS__/teacher/add.css" />
</head>
<body>
    <!-- 头部开始-->
    {include file="../app/common/view/html/header.html"}
    <!-- 头部结束-->

    <!-- 左边菜单开始-->
    {include file="../app/teacher/view/common/menu.html"}
    <!-- 左边菜单结束-->

    <!--添加用户开始-->
    <div id="MainForm">
        <div class="form_boxA">
            <div class="a">
                <h2>实验任务详情</h2>
            </div>
            <form action="/teacher/task/taskDetail" method="post" enctype="multipart/form-data" class="add_form" onsubmit="return checkSubmit()">
                <input type="hidden" name="taskNo" value="{$task.taskNo}">
                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>任务名称：</label>
                    <input type="text" id="taskName" name="taskName" placeholder="输入实验任务名称" class="add_input" disabled="disabled"/>
                </div>

                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>所属课程：</label>
                    <select name="courseNo" id="courseNo" class="add_input" disabled="disabled">
                            <option value="null">--请选择实验课程--</option>
                            {volist name="courseList" id="vo"}
                                {eq name="$vo.courseNo" value="$task.courseNo"}
                                    <option value="{$vo.courseNo}" selected = "selected">{$vo.courseName}</option>
                                {else}
                                    <option value="{$vo.courseNo}">{$vo.courseName}</option>
                                {/eq}
                            
                            {/volist}
                        </select>
                </div>
                <div><input type="hidden" name="courseNo" value="{$task.courseNo}"></div>

                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>开始时间：</label>
                    <input type="datetime-local" id="startTime" name="startTime" class="add_input" value="<?=date('Y-m-d',$task->startTime).'T'.date('H:i:s',$task->startTime)?>" disabled="disabled"/>
                </div>

                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>截止时间：</label>
                    <input type="datetime-local" id="endTime" name="endTime" class="add_input" value="<?=date('Y-m-d',$task->endTime).'T'.date('H:i:s',$task->endTime)?>" disabled="disabled"/>
                </div>

                <div class="add_list">
                    <label class="add_label">背景图片：</label>
                    <input type="file" name="imgFile" onchange="uploadsimage(this);" disabled="disabled"/>
                    <div id="imgBox"></div>
                    <input type="hidden" name="taskImg" id="Img" value="">
                </div>

                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>实验指导：</label>
                    <select name="guideNo" class="add_input" id="guideNo" disabled="disabled">
                        <option value="null">--请选择实验指导--</option>
                            {volist name="guideList" id="vo"}
                                {eq name="$vo.guideNo" value="$task.guideNo"}
                                    <option value="{$vo.guideNo}" selected = "selected">{$vo.guideName}</option>
                                {else}
                                    <option value="{$vo.guideNo}">{$vo.guideName}</option>
                                {/eq}
                            
                            {/volist}
                    </select>
                </div>

                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>任务描述：</label>
                    <textarea name="taskDescribe" class="add_textarea" id="taskDescribe" disabled="disabled">{$task.taskDescribe}</textarea>
                </div>
                <div class="ButtonDiv submitDiv" style="text-align: center;width: 250px;margin: 0 auto;"> 
                    <input type="submit" style="float: left;" class="Button" name="edit" value="修改">
                    <input type="submit" style="float: left;" class="Button" name="delete" value="删除">
                </div>
            </form>
        </div>
    </div>
    <!--添加用户结束-->

    <!-- 清除浮动 -->
    <div style="clear: both;"></div>

    <!-- 底部开始-->
    {include file="../app/common/view/html/footer.html"}
    <!-- 底部结束-->

</body>
</html>

<!-- 筛选框开始-->
<script type="text/javascript">
    
    $(document).ready(function(){
        $("#publishedFilter").click(function(){
            $("#publishedFilterDiv").slideToggle();
        });

        $("#taskName").val('{$task.taskName}');
        
        $("#taskDescribe'").html('{$task.taskDescribe}');
    });
</script>
<!-- 筛选框结束 -->


<!-- 处理时间戳转datatime-local -->
<script>
 
    Date.prototype.Format = function(fmt)     
{ //author: meizz  
  var o = {     
    "M+" : this.getMonth()+1,                 //月份  
    "d+" : this.getDate(),                    //日  
    "h+" : this.getHours(),                   //小时  
    "m+" : this.getMinutes(),                 //分  
    "s+" : this.getSeconds(),                 //秒  
    "q+" : Math.floor((this.getMonth()+3)/3), //季度  
    "S"  : this.getMilliseconds()             //毫秒  
  };     
  if(/(y+)/.test(fmt))     
    fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));     
  for(var k in o)     
    if(new RegExp("("+ k +")").test(fmt))     
  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));     
  return fmt;     
};  
 
</script>

