<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院实验报告在线撰写系统</title>
    <link rel="shortcut icon" href="__IMG__/school.ico" />
    
    <link rel="stylesheet" href="__FONTAWESOME__/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__FONTAWESOME__/css/all.css" />
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css">

    <script type="text/javascript" src="__JS__/jquery3.2.1.min.js"></script>
    <script type="text/javascript" src="__JS__/index/public.js"></script>
    <script type="text/javascript" src="__JS__/teacher/guideAdd.js"></script>
    <script type="text/javascript" src="__JS__/wangEditor/wangEditor.js"></script>
    <!-- <script type="text/javascript" src="__WANGEDITOR__/release/wangEditor.js"></script> -->
    

    <link rel="stylesheet" href="__CSS__/index/index.css" />
    <link rel="stylesheet" href="__CSS__/common/common.css" />
    <link rel="stylesheet" href="__CSS__/common/footer.css" />
    <link rel="stylesheet" href="__CSS__/common/menu.css">
    <link rel="stylesheet" href="__CSS__/common/detail.css">
    <link rel="stylesheet" href="__CSS__/teacher/guide.css" />
    <link rel="stylesheet" href="__CSS__/teacher/display.css" />
    <link rel="stylesheet" href="__CSS__/teacher/guideAdd.css" />

</head>
<style type="text/css">
    .guideAddDiv .test-text {
        width: 500px;
    }
    .guideAddDiv select {
        width: 500px;
    }
</style>
<body>
    <!-- 头部开始-->
    {include file="../app/common/view/html/header.html"}
    <!-- 头部结束-->

    <!-- 左边菜单开始-->
    {include file="../app/teacher/view/common/menu.html"}
    <!-- 左边菜单结束-->

    <!--课程列表开始-->
    <div id="MainForm">
        <div class="form_boxA">
            <div class="a">
                <h2>编辑实验指导</h2>
            </div>
            <div class="guideAddDiv">
                <form action="/teacher/guide/guideEdit" method="post" onsubmit="return checkSubmit()">
                    <input type="hidden" id="guideNo" name="guideNo">
                    <div class="add-list">
                        <label>实验课程：</label>
                        <br>
                        <select name="courseNo" id="courseNo">
                            <option value="null">--请选择实验课程--</option>
                            {volist name="courseList" id="vo"}
                                {eq name="$vo.courseNo" value="$guide.courseNo"}
                                    <option value="{$vo.courseNo}" selected = "selected">{$vo.courseName}</option>
                                {else}
                                    <option value="{$vo.courseNo}">{$vo.courseName}</option>
                                {/eq}
                            
                            {/volist}
                        </select>
                    </div>
                    <div class="add-list">
                        <label>实验任务：</label>
                        <br>
                        <select name="taskNo" id="taskNo">
                            <option value="-1">--请选择实验任务--</option>
                            {volist name="taskList" id="vo"}
                                {eq name="$vo.taskNo" value="$guide.taskNo"}
                                    <option value="{$vo.taskNo}" selected = "selected">{$vo.taskName}</option>
                                {else}
                                    <option value="{$vo.taskNo}">{$vo.taskName}</option>
                                {/eq}
                            {/volist}
                        </select>
                    </div>
                    <div class="add-list">
                        <label>实验指导名称：</label>
                        <input type="text" id="guideName" name="guideName" class="test-text" onblur="checkName();">
                    </div>
                    <div class="add-list">
                        <label>实验目的：</label>
                        <div id="testAim" name="testAim" class="test-text">
                        </div>
                        <input type="hidden" id="aim" name="aim">
                    </div>
                    <div class="add-list">
                        <label>实验环境：</label>
                        <div id="testEnvironment" class="test-text">
                        </div>
                        <input type="hidden" id="environment" name="environment">
                    </div>
                    <div class="add-list">
                        <label>实验要求：</label>
                        <div id="testRequire" class="test-text">
                        </div>
                        <input type="hidden" id="request" name="request">
                    </div>
                    <div class="add-list">
                        <label>实验任务：</label>
                        <div id="testTask" class="test-text">
                        </div>
                        <input type="hidden" id="task" name="task">
                    </div>
                    <div class="add-list">
                        <label>实验内容：</label>
                        <div id="testContent" class="test-text">
                        </div>
                        <input type="hidden" id="content" name="content">
                    </div>
                    <div class="ButtonDiv submitDiv">
                        <input type="submit" class="Button" name="save" value="保存" >
                        <input type="submit" class="Button" name="submit" value="提交">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <!--课程列表结束-->

    <!-- 清除浮动 -->
    <div style="clear: both;"></div>

    <!-- 底部开始-->
    {include file="../app/common/view/html/footer.html"}
    <!-- 底部结束-->

</body>
</html>

<!-- 筛选框开始-->
<script type="text/javascript">
    
    $(document).ready(function(){

        //加载guide数据
        $("#guideName").val('{$guide.guideName}');
        $("#guideNo").val('{$guide.guideNo}');
        $("#testAim .w-e-text").html('{$guide.testAim}');
        $("#testEnvironment .w-e-text").html('{$guide.testEnvironment}');
        $("#testRequire .w-e-text").html('{$guide.testRequire}');
        $("#testTask .w-e-text").html('{$guide.testTask}');
        $("#testContent .w-e-text").html('{$guide.testContent}');


    });
</script>
<!-- 筛选框结束 -->

<!-- 创建编辑器 -->
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript">
    var E = window.wangEditor
    var testAim = new E('#testAim')
    var testEnvironment = new E('#testEnvironment');
    var testTask = new E('#testTask')
    var testContent = new E('#testContent');
    var testRequire = new E('#testRequire');

    testAim.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
    testEnvironment.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
    testTask.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
    testContent.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
    testRequire.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;

    testAim.customConfig.uploadImgServer = "{:url('/teacher/editor/upload')}" ; // 上传图片到服务器
    testEnvironment.customConfig.uploadImgServer = "{:url('/teacher/editor/upload')}" ; // 上传图片到服务器
    testTask.customConfig.uploadImgServer = "{:url('/teacher/editor/upload')}" ; // 上传图片到服务器
    testContent.customConfig.uploadImgServer = "{:url('/teacher/editor/upload')}" ; // 上传图片到服务器
    testRequire.customConfig.uploadImgServer = "{:url('/teacher/editor/upload')}" ; // 上传图片到服务器

    testAim.create();
    testEnvironment.create();
    testTask.create();
    testContent.create();
    testRequire.create();

</script>

