<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院实验报告在线撰写系统</title>
    <link rel="shortcut icon" href="__IMG__/school.ico" />
    
    <link rel="stylesheet" href="__FONTAWESOME__/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__FONTAWESOME__/css/all.css" />
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css">

    <script type="text/javascript" src="__JS__/jquery3.2.1.min.js"></script>
    <script type="text/javascript" src="__JS__/index/public.js"></script>
    <script type="text/javascript" src="__JS__/teacher/guideImport.js"></script>
    <script type="text/javascript" src="__JS__/wangEditor/wangEditor.js"></script>
    <!-- <script type="text/javascript" src="__WANGEDITOR__/release/wangEditor.js"></script> -->
    

    <link rel="stylesheet" href="__CSS__/index/index.css" />
    <link rel="stylesheet" href="__CSS__/common/common.css" />
    <link rel="stylesheet" href="__CSS__/common/footer.css" />
    <link rel="stylesheet" href="__CSS__/common/menu.css">
    <link rel="stylesheet" href="__CSS__/common/detail.css">
    <link rel="stylesheet" href="__CSS__/teacher/guide.css" />
    <link rel="stylesheet" href="__CSS__/teacher/display.css" />
    <link rel="stylesheet" href="__CSS__/teacher/add.css" />

</head>

<body>
    <!-- 头部开始-->
    {include file="../app/common/view/html/header.html"}
    <!-- 头部结束-->

    <!-- 左边菜单开始-->
    <div class="container" style="margin-top:20px; min-height: 500px;">

        <div class="leftsidebar_box" id="leftMenu">
            <dl class="system_log">
                <dt>
                    <i class="fas fa-home a"></i>
                    <a href="/teacher/index/index">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                </dt>
            </dl>
            <!--实验任务开始-->
            {volist name="menus" id="vo"}
            {if isset($vo['children'])}
            <dl class="system_log" id="menu1">
                <dt>
                    {$vo.html}
                    <span class="menu-text">{$vo.menuName}</span>
                    <i class="fas fa-angle-down   b"></i>
                </dt>
                
                {volist name="$vo['children']"  id="no"}   
                <dd>
                    <img class="coin11" src="__IMG__/coin111.png" />
                    <img class="coin22" src="__IMG__/coin222.png" />
                    <a class="cks" href="{$no.href}">{$no.menuName}</a>
                    <img class="icon5" src="__IMG__/coin21.png" />
                </dd>
                {/volist}
                
            </dl>
            {/if}
            {/volist}
        </div>
    </div>

    <!-- 左边菜单结束-->

    <!--课程列表开始-->
    <div id="MainForm">
        <div class="form_boxA">
            <div class="a">
                <h2>导入实验指导</h2>
            </div>
            <div class="guideAddDiv" style="margin:0 auto;">
                <form action="/teacher/guide/guideImport" enctype="multipart/form-data" method="post" class="add_form" onsubmit="return checkSubmit()">
                
                <div class="add_list" style="padding-top: 5px;">
                    <label class="add_label"><span class="xing">*</span>实验课程：</label>
                    <select name="courseNo" id="courseNo" style="padding-top: 5px; width: 250px; ">
                            <option value="-1">--请选择实验课程--</option>
                            {volist name="courseList" id="vo"}
                            <option value="{$vo.courseNo}">{$vo.courseName}</option>
                            {/volist}
                        </select>
                </div>
                <div class="add_list">
                    <label class="add_label">实验任务：</label>
                    <select name="taskNo" id="taskNo" style="padding-top: 5px; width: 250px;">
                            <option value="-1">--请选择实验任务--</option>
                            {volist name="taskList" id="vo"}
                            <option value="{$vo.taskNo}">{$vo.taskName}</option>
                            {/volist}
                        </select>
                </div>
                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>指导名称：</label>
                    <input type="text" id="guideName" name="guideName" class="add_input"  style="padding-top: 5px; width: 250px;">
                </div>
                <div class="add_list">
                    <label class="add_label"><span class="xing">*</span>实验指导：</label>
                    <input type="file" name="file" id="file" accept=".pdf" onchange="uploadPdf(this);" style="width: 250px;" multiple>
                    <input type="hidden" name="filePath" id="filePath">
                </div>
                <input type="submit" value="确定" class="add_submit" />
            </form>
            </div>
            
        </div>
    </div>
    <!--课程列表结束-->

    <!-- 清除浮动 -->
    <div style="clear: both;"></div>

    <!-- 底部开始-->
    {include file="../app/common/view/html/footer.html"}
    <!-- 底部结束-->

</body>
</html>

<script type="text/javascript">
//上传pdf
function uploadPdf(obj) {
    if ( obj.value == "" ) return;

    var formdata = new FormData();

    formdata.append("pdf" , $(obj)[0].files[0]);//$(obj)[0].files[0]为文件对象

    $.ajax({
        type : 'post',
        url : '/teacher/common/uploadPdf',
        data : formdata,
        cache : false,
        processData : false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
        contentType : false, // 不设置Content-type请求头
        success : function(ret){
            $filePath = "/uploads/"+ret;
            $filePath = $filePath.replace("\\","/");

            $("#filePath").val($filePath);
            // alert($filePath);
        },
        error : function(){ 
            alert('pdf上传失败');
        }
    });
}
</script>




